<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836613616000-j8f9hn37s6u39jka1pjegpprkquj52rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836613616000-j8f9hn37s6u39jka1pjegpprkquj52rk</string>
	<key>API_KEY</key>
	<string>AIzaSyBbnQz9jC7jocLo4F10Ur8GPgcMTtzvyTM</string>
	<key>GCM_SENDER_ID</key>
	<string>836613616000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.querypeople.chat</string>
	<key>PROJECT_ID</key>
	<string>firechat-f4f60</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-f4f60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836613616000:ios:55977b0dd58be73cfa9165</string>
</dict>
</plist>